*.aux
*.swp
*.log
*.pdf
mathematiques.m[lt][ftc][1-9]*
mathematiques.lo[fgt]
mathematiques.fls
mathematiques.fdb*
mathematiques.mtc*
mathematiques.toc
mathematiques.maf
mathematiques.out
*.png
!Triangle-de-Pascal-01-3.png
.pylint.d/
__pycache__/
auto/

